* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Poppins;
}
.container {
  display: flex;
  background-color: black;
}
.container h1 {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 25px;
  color: white;
  filter: drop-shadow(5px 5px 10px yellow);
}

.container span {
  color: yellow;
  font-size: 35px;
  margin-left: 5px;
  filter: drop-shadow(5px 5px 10px yellow);
}
#input {
  margin-left: 25%;
  height: 25px;
  border-radius: 20px;
  filter: drop-shadow(5px 5px 10px yellow);
  margin-top: 2%;
  margin-right: 1px;
  position: absolute;
  right: 35px;
  top: 15px;
  padding: 3px;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}
.data {
  text-align: center;
  box-shadow: white 0px 5px 15px;
  border-radius: 10%;
}

#parent {
  box-shadow: white 0px 5px 15px;
  border-radius: 10%;
}

#btn {
  height: 25px;
  border-radius: 50%;
  margin-top: 2%;
  width: 30px;
  background-color: yellow;
  color: black;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 15px;
  filter: drop-shadow(5px 5px 10px yellow);
}
body {
  background-color: lightskyblue;
}
#display {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-auto-rows: 200px;
  gap: 20% 15%;
  width: 80%;
  margin: auto;
  margin-top: 80px;
  text-align: center;
  box-shadow: none;
}
#home {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-auto-rows: 200px;
  gap: 30% 15%;
  width: 80%;
  margin: auto;
  margin-top: 80px;
  text-align: center;
  box-shadow: none;
  font-size: 11px;
}
.details button {
  border: none;
  background: yellow;
  border-radius: 20px;
  padding: 6px;
  font-size: 15px;
  margin-top: 3px;
}

img {
  transition: 0.9s;
  opacity: 3;
}
img:hover {
  opacity: 0.3;
  cursor: pointer;
  padding: 30px;
  box-shadow: white 0px 5px 15px;
}
.tags {
  background-color: black;
  justify-content: space-between;
}
.tags a {
  color: white;
  filter: drop-shadow(5px 5px 10px yellow);
  margin-left: 50px;
}
.tags a:hover {
  color: yellow;
  filter: drop-shadow(5px 5px 10px white);
  padding: 6px;
}
.protection {
  position: absolute;
  top: 260%;
  margin-left: 25%;
}
