*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  color: white;
  box-shadow: rgba(248, 247, 247, 0.25) 0px 54px 55px,
    rgba(255, 254, 254, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #8caacf;
}

table tr:hover {
  background-color: #ddd;
  color: black;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0468aa;
  color: white;
  text-align: center;
}
h1 {
  text-align: center;
  color: white;
}
body {
  background-color: black;
}
